body{
    margin: 0;
    width: 100%;
    --nase-cervena: rgb(83, 15, 15);
    background-color: var(--nase-cervena);
}

#slideshow {
    width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
}