header {
    background-color: nase-cervena;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px black;
    position: relative;
    z-index: 10;
}

.right-header {
    padding-right: 1.5rem;
}

.button-header {
    height: 100%;
    background-color: rgb(83, 15, 15);
    border: none;
    margin-left: 12px;
    cursor: pointer;
}

.button-header-a {
    color: white;
    font-size: 21px;
    text-decoration: none;
}

.logo-header {
    height: 84%;
    margin: 8%;
}

#hamburger {
    display: none
    }
.menu {
    display: none;
}


@media screen and (max-width: 767px) {
    .right-header {
        display: none;
    }

    #hamburger {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 21px;
        margin: 11px 17px;
    }

    .menu.show {
        display: flex;
        flex-direction: column;
        z-index: 11;
        position: absolute;
        width: 100vw;
    }
    .menu {
        align-items: flex-end;
    }
    #menu-buttons {
        width: 20%;
        align-self: flex-end;
        border-bottom-left-radius: 15px;
        box-shadow: 0 4px 5px black;
    }
    .button-header {
        margin-left: 0;
        padding: 8px 5px;
        width: 100%;
        text-align: center;
    }

    .button-header:last-child {
        border-bottom-left-radius: 15px;
        margin-bottom: 4px;
    }

    .button-header-a {
        font-size: 16px;
    }
}