header {
    background-color: nase-cervena;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom-right-radius: 15px;
    box-shadow: 0 2px 5px black;
    position: relative;
    z-index: 100;
}

.right-header {
    padding-right: 1.5rem;
}

.button-header {
    height: 100%;
    background-color: rgb(83, 15, 15);
    border: none;
    margin-left: 12px;
    cursor: pointer;
}

.button-header-a {
    color: white;
    font-size: 21px;
    text-decoration: none;
}

.logo-header {
    height: 84%;
    margin: 8%;
}

#hamburger {
    display: none
    }
.menu {
    display: none;
}


@media screen and (max-width: 767px) {
    .right-header {
        display: none;
    }

    #hamburger {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 21px;
        margin: 8px 17px;
        padding: 0 auto;
        align-items: right;
    }

    .menu.show {
        display: flex;
        flex-direction: column;
    }
    .button-header {
        margin-left: 0;
        padding: 10px 0;
    }
}