#main-page {
  height: 96vh;
  display: flex;
}

#main-right {
  width: 47%;
} 

#main-left {
  height: 100%;
  width: 54%;
  background-color: rgb(83, 15, 15);
  z-index: 0;
}

#logo-main {
  display: flex;
  justify-content: center;
}