#intro-screen {
  height: 94vh;
}

#intro-background {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#background-image {
  height: 53%;
  object-fit: cover;
  position: relative;
}

#bottle-image {
  height: 54%;
  display: block;
  position: absolute;
  z-index: 3;
}

#intro-title1 {
  font-size: 15rem;
  font-family: "ephesis-regular",sans-serif;
  color: #B8860B;
  text-shadow: #4b3705 0.02em 0.02em 0.01em;
}

#intro-headings {
  position: absolute;
  z-index: 2;
}
